h1{
    color:blue;
    font-size: larger;
    font-weight: bold;
}


h2{

    color:blue;
    font-size: larger;
    font-weight: bold;
    opacity: 0.33;
}


body{

    background-color: green;
    background

}